.app{
    width: 100%;
    height: 100%;
    color: black;
}
.container{
 display: flex;
 flex-direction: column;

}
.card{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-grow: 0.5;
    margin: auto 5rem;
}

.btnCard {
    flex-grow: 1;
padding: 1rem;
border: 1px solid black;
margin: 1rem;
flex: 1;

}
.textCard {
flex-grow: 1;
padding: 1rem;
border: 1px solid black;
margin: 1rem;
flex: 1;
}